h1
{
    color:white;
    display: inline-block;
    width: 100px;
    background-color:black;
}
body
{
    text-align: center;
}
button
{
    background-color: black;
    color:white;
    width: 75px;
    height: 30px;
    margin-left: 20px ;
    
}
.border
{
    background-color:teal ;
    border: 2px solid white;
    height: 250px;
}